/* Style sheet for the Harry Potter Trivia game */

@font-face {
    font-family: 'Harry Potter Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Harry Potter Regular'), url('HARRP___.woff') format('woff');
}

body {
    /* font-family: 'Vollkorn', serif; regular*/
    /* font-family: 'Vollkorn SC', serif; regular */
    background-image: url("../images/platform-975-a-bg.jpg");
    background-size: 100% auto;
}


h1 {
    font-size: 34px;
    /* font-family: 'Vollkorn', serif; */
    font-family: 'Harry Potter Regular';
    color: #e7ae34;

}


h2 {
    font-size: 20px;
    font-family: 'Vollkorn', serif;
}


p {
    font-size: 15px;
    font-family: 'Vollkorn SC', serif;
}

/* wrapper */

.wrapper {
    width: 800px;
    margin: 50px auto 0;
}

#div-box {

    width: auto;
    height: 700px;
    color: #e2e3e4;
    text-align: center;
    padding: 10px 0;
    margin: 0px 0px 0px 0px;
    display: block;
    position: relative;
}

#div-box::after {
    content: "";
    background-color: slategray;
    opacity: 0.75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

.button2 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
}
    .button2:hover{
        color:#000000;
        background-color:#FFFFFF;
    }

#trivia-box {
    width: auto;
    height: 400px;
    padding: 20px;
    text-align: center
    /* position: relative; */
}


#query-box {
    width: auto;
    height: 150px;
    padding: 20px;
    font-size: 20px;
    font-family: 'Vollkorn SC', serif;
    text-align: center;
    letter-spacing: 2px;
}

#buttons-box {
    width: auto;
    height: 100px;
    padding: 10px;
    margin: 0 auto;
    /* position: absolute; */
    /* bottom: 0; */
    /* display: inline-block; */
    /* left: 50% */
}
